{% extends 'shared/base.html' %}
{% block title %}All Users{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>All Users</h2>

    <div class="list-group">
        {% for user_obj in object_list %}
            <a href="{% url 'accounts:profile-detail' user_obj.pk %}" class="list-group-item list-group-item-action">
                {{ user_obj.username }} ({{ user_obj.email }})
            </a>
        {% empty %}
            <p>No users found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}