{% extends 'shared/base.html' %}
{% block title %}Hobbies{% endblock %}

{% block content %}
<div class="container mt-4">
    <form method="get" class="mb-3">
        <input type="text" name="q" placeholder="Search events..." class="form-control" value="{{ request.GET.q }}">
    </form>
    <h1>Hobbies</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'hobbies:hobby-create' %}" class="btn btn-success mb-3">Create Hobby</a>
    {% endif %}
    <div class="row">
        {% for hobby in object_list %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ hobby.title }}</h5>
                    <p class="card-text">{{ hobby.description|truncatechars:100 }}</p>
                    <p>Owner: {{ hobby.owner.username }}</p>
                    <p>Participants: {{ hobby.participants.count }}</p>

                    <a href="{{ hobby.get_absolute_url }}" class="btn btn-primary">Details</a>
                    {% if user == hobby.owner %}
                        <a href="{% url 'hobbies:hobby-edit' hobby.pk %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'hobbies:hobby-delete' hobby.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}

                    {% if user.is_authenticated %}
                        {% if user in hobby.participants.all %}
                            <a href="{% url 'hobbies:hobby-leave' hobby.pk %}" class="btn btn-warning mt-1">Leave Hobby</a>
                        {% else %}
                            <a href="{% url 'hobbies:hobby-join' hobby.pk %}" class="btn btn-success mt-1">Join Hobby</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
            <div class="text-center text-muted mt-5">
                <h4>No hobbies yet 😔</h4>
                <p>Be the first to create one!</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="mt-4">
    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}