{% extends 'shared/base.html' %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<h1>{{ object.name }}</h1>
<p>{{ object.description }}</p>
<p>Owner: {{ object.owner.username }}</p>
<p>Participants: {{ object.participants.count }}</p>

{% if user.is_authenticated %}
    {% if user in object.participants.all %}
        <a href="{% url 'groups:group-leave' object.pk %}" class="btn btn-warning">Leave Group</a>
    {% else %}
        <a href="{% url 'groups:group-join' object.pk %}" class="btn btn-success">Join Group</a>
    {% endif %}
{% endif %}

{% if user == object.owner %}
    <a href="{% url 'groups:group-edit' object.pk %}" class="btn btn-success">Edit</a>
    <a href="{% url 'groups:group-delete' object.pk %}" class="btn btn-danger">Delete</a>
{% endif %}

<h3 class="mt-4">Comments</h3>
<div class="list-group">
    {% for comment in object.group_comments.all %}
    <div class="list-group-item">
        <p>{{ comment.content }}</p>
        <small>By {{ comment.user.username }}</small>
    </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
</div>
<a href="{% url 'interactions:comment-create' %}?group={{ object.pk }}" class="btn btn-custom mt-2">Add Comment</a>
<a href="{% url 'groups:group-list' %}" class="btn btn-secondary mt-3">Back to Groups</a>
{% endblock %}