{% extends 'shared/base.html' %}
{% block title %}Comment Detail{% endblock %}
{% block content %}
<h1>Comment by {{ object.user.username }}</h1>
<p>{{ object.content }}</p>
<p>
    {% if object.group %}Group: {{ object.group.name }}{% endif %}
    {% if object.event %}Event: {{ object.event.title }}{% endif %}
</p>

<h3>Related Comments</h3>
<ul>
    {% if object.event %}
        {% for comment in object.event.event_comments.exclude(pk=object.pk) %}
        <li>{{ comment.user.username }}: {{ comment.content }}</li>
        {% endfor %}
    {% elif object.group %}
        {% for comment in object.group.group_comments.exclude(pk=object.pk) %}
        <li>{{ comment.user.username }}: {{ comment.content }}</li>
        {% endfor %}
    {% endif %}
</ul>

{% if user == object.user %}
    <a href="{% url 'interactions:comment-edit' object.pk %}" class="btn btn-success">Edit</a>
    <a href="{% url 'interactions:comment-delete' object.pk %}" class="btn btn-danger">Delete</a>
{% endif %}
<a href="{% url 'interactions:comment-list' %}" class="btn btn-custom">Back to Comments</a>
{% endblock %}