{% extends 'shared/base.html' %}
{% block title %}Comment by {{ object.user.username }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3>Comment by {{ object.user.username }}</h3>
    <p>{{ object.content }}</p>
    <p>Posted on: {{ object.created_at }}</p>

    {% if object.user == user %}
        <a href="{% url 'interactions:comment-edit' object.pk %}" class="btn btn-success">Edit</a>
        <a href="{% url 'interactions:comment-delete' object.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}

    <a href="{% if object.event %}{% url 'events:event-detail' object.event.pk %}{% elif object.group %}{% url 'groups:group-detail' object.group.pk %}{% elif object.hobby %}{% url 'hobbies:hobby-detail' object.hobby.pk %}{% endif %}" class="btn btn-secondary mt-3">Back</a>
</div>
{% endblock %}